body {
    background-image: url('SD3-L.webp');
}

h1 {
    
    text-align: center;
    font-size: 90px;
    color: #FFFF00;
}

.controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    color: #FFFF00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #FFFF00;
}

#score {
    position: absolute;
    top: calc(50% + 180px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 90px;
    font-size: 120px;
    font-family: 'Orbitron' sans-serif;
    color: #FFFF00;
}